aiohttp
aiofiles
asyncio
cryptography
dnspython
ffmpeg-python
future
gitpython
pyrogram==1.4.16
hurry.filesize
heroku3
motor
pillow
psutil
python-dotenv
pyromod
py-tgcalls==0.9.0b1
requests
search-engine-parser
tgcrypto
uvloop
wget
youtube-search-python
youtube-search
telegraph
regex
git+https://github.com/kaalmous/downloader@kaal
html5lib
